# Ignore any build directories
*build*/

# By default we install dependencies to the external directory
/external/*

CMakeCache.txt
CMakeLists.txt.user
CMakeFiles/
CMakeUserPresets.json
cmake_install.cmake
Makefile
__pycache__
*.so
*.so.*
_out64
out32/*
out64/*
*.pyc
*.vcproj
*.sln
*.suo
*.vcxproj
*.sdf
*.filters
*.config
*.creator
*.creator.user
*.files
*.includes
.vscode/
.vs/
.DS_Store
